<launch>

  <node name="red_detection" pkg="tang_detection" type="red_detection.py" output="screen">
    <!-- <param name = "threshold" type = "int" value = "2"/>  これより遠い距離の画素を無視する -->
    <!-- camera なら 0, videoなら/home/hashimoto/Videos/capture/original.mp4 -->
    <!-- <param name = "video_path" value = "/videos/original.mp4"/>  -->
    <param name = "video_path" value = "0"/> 
    <param name = "debug" type="bool" value="1"/>
  </node>

</launch>
