<launch>

  <include file="$(find tang_detection)/launch/tang_detection.launch"/>

  <node name="joy_node" pkg="joy" type="joy_node" >
    <param name="autorepeat_rate" value="5" />
    <param name="deadzone" value="0.12" />
  </node>

  <node name="tang_control" pkg="tang_control" type="tang_control.py" output="screen">
    <param name = "max_area" type = "int" value = "130000"/> 
    <param name = "max_area_red" type = "int" value = "167"/> 
    <param name = "speed" type = "int" value = "50"/>
  </node>
  
</launch>
