<launch>
  <node name="joy_node" pkg="joy" type="joy_node" >
    <param name="autorepeat_rate" value="5" />
    <param name="deadzone" value="0.12" />
  </node>

  <node name="tang_teleop" pkg="tang_teleop" type="test_gear_sensor.py" output="screen">
    <param name = "speed" type = "int" value = "30"/>
  </node>


</launch>
